[submodule "Appinstallerdriversgradle"]
    path = AppinstallerDrivers
    url = https://github.com/elbillyto/installerdriversgradle.git
[submodule "DriversNativoC"]
    path = DriversNativoC
    url = https://github.com/elbillyto/installerdriverscGradle.git    
